<h1>Delete Book</h1>

    <%= form_for(@book, :method => 'delete') do |form| %>
    
        <p>Are you sure want to delete this book ?</p>
        <p><%= @book.title %></p>

        <div class="actions">
             <%= form.submit("Delete Book") %>
        </div>
    <% end %>

<%= link_to 'Back', books_path %>
